#canvas{
    background-color: darkkhaki;
    padding: 0;
    margin: 0;
}

#heading{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
    background-color: orangered;
}

.select-parameter-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: darkred;
}

#select-menu{
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}

.unit-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.dropdown{
    font-size: 15px;
    font-weight: 700; 
}

#left-unit{
    margin-right: 35px;
}

#right-unit{
    margin-left: 35px;
}

.input-output-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.box{
    height: 30px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: cyan;
    color: black;
    width: 150px;
    text-align: center;
}

#input-box{
    margin-right: 10px;
}

#output-box{
    margin-left: 10px;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.btn{
    background-color: darkblue;
    color: white;
    font-size: larger;
    font-weight: bold;
    width: 180px;
    height: 40px;
}